html, body, div, p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}
.latest {
    position:relative;top:0;left:0;margin:0;padding:0;overflow:hidden;width:100%;height:0px;
    background-color: #eee;
}
.more {
    position:relative;bottom:0;left:0;margin:0;padding:0;overflow:hidden;width:100%;height:0px;
    background-color: #eee;
}
.latest div, .more div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #aaa;
    line-height: 80px;
}
.more div {
    top: 0;
    bottom: auto;
}
.latest div:before,
.more div:before {
  content: '\279F';
  display: block;
  transition: all .25s ease;
  transform: rotate(90deg);
  text-align: center;
}
.more.prepare div:before {
  transform: rotate(-90deg);
}
.latest.load div:before,
.more.load div:before {
  content: '\274B';
  -webkit-animation: spin 3s infinite linear;
}
.latest div:before {
  transform: rotate(-90deg);
}
.latest.prepare div:before {
  transform: rotate(90deg);
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  margin: 0;
  padding: 0;
  line-height: 40px;
  text-indent: 10px;
  border-bottom: 1px solid #eee;
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
